@media screen and (max-width: 768px) {
  .form-width {
    width: 75%;
  }
}

@media screen and (min-width:769px) {
  .form-width {
    width: 40%;
  }
}

@media screen and (min-width:1200px) {
  .form-width {
    width: 25%;
  }
}

.sign-up-link{
  text-decoration: none;
  color: green;
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
}

